on:
  push:
    branches:
      - main

name: release-please

permissions:
  contents: write
  pull-requests: write

jobs:
  release-please:
    runs-on: ubuntu-latest
    steps:
      - uses: google-github-actions/release-please-action@v3
        with:
          release-type: node
          monorepo-tags: true
          command: manifest
          token: ${{ secrets.GH_PERSONAL_ACCESS_TOKEN }}
